@page "/CProductos"


@inject AuthenticationStateProvider AuthenticationStateProvider


<AuthorizeView>


    <NotAuthorized>
        <p class="display-4 text-center">Usted no esta autorizado para acceder a esta pagina</p>

    </NotAuthorized>


</AuthorizeView>


@if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated)
{
    <div class="container">

        <h3 class="display-3 text-center">Consulta de Productos</h3>

        <div>
            @if (Lista == null)
            {
                <div class="text-center">
                    <div class="spinner-border">
                        <span class="sr-only">Loading....</span>
                    </div>
                </div>}
            else
            {
                <div class="form-row">
                    <div class="col form-group">
                        <div>
                            <label>Desde</label>
                            <input type="checkbox" @bind-value="FiltrarPorFecha" /> Filtrar Fecha
                        </div>

                        <input type="date" @bind-value="DesdeFecha" class="form-control" />
                    </div>

                    <div class="col form-group">
                        <label>Hasta</label>
                        <input type="date" @bind-value="HastaFecha" class="form-control" />
                    </div>

                    <div class="col form-group">
                        <label>Criterio</label>
                        <input type="text" @bind-value="Criterio" class="form-control" />
                    </div>
                    <EditForm Model="Producto">
                        <div class="col form-group">
                            <label>Filtrar por</label>
                            <div class="input-group">
                                <InputSelect @bind-Value="Filtro" class="form-control">
                                    <option selected value="0">Todo</option>
                                    <option value="1">Id</option>
                                    <option value="2">Descripcion</option>
                                    <option value="3">Cantidad</option>
                                    <option value="4">Unidad</option>
                                    <option value="5">Costo</option>
                                    <option value="6">Precio</option>
                                </InputSelect>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary" @onclick="filtrar">Buscar</button>
                                </div>
                            </div>

                        </div>
                    </EditForm>
                </div>

                if (Lista.Count <= 0)
                {
                    <h3 class="display-3 text-center">No hay datos que mostrar</h3>
                }
                else
                {
                    <div class="table-responsive text-nowrap">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Unidad</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Costo</th>
                                    <th scope="col">Precio</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var entity in Lista)
                                {
                                    <tr>
                                        <td scope="row">@entity.ProductoId</td>
                                        <td>@entity.Descripcion</td>
                                        <td>@entity.Cantidad</td>
                                        <td>@entity.UnidadDescripcion</td>
                                        <td>@entity.Fecha.ToShortDateString()</td>
                                        <td>@entity.Costo</td>
                                        <td>@entity.Precio</td>
                                        <td><a class="btn btn-sm btn-outline-primary" href="/RProductos/@entity.ProductoId">Ver</a></td>
                                    </tr>
                                }

                            </tbody>

                        </table>
                    </div>
                    <PaginacionComponent Evento="(()=> CargarLista())" Paginacion="@Paginacion" />
                }
            }

        </div>

    </div>
}




@code {

    public List<Productos> Lista { get; set; }

    public DateTime DesdeFecha { get; set; }
    public DateTime HastaFecha { get; set; }
    public string Criterio { get; set; }
    public string Filtro { get; set; }
    public bool FiltrarPorFecha { get; set; }

    public Productos Producto { get; set; }

    public Paginacion Paginacion { get; set; }
    public bool NivelUsuario;
    public Expression<Func<Productos, bool>> expression { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() => { Inicialzar(); });
    }

    private void Inicialzar()
    {
        NivelUsuario = AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.IsInRole("Bajo");
        DesdeFecha = DateTime.Now;
        HastaFecha = DateTime.Now;
        Producto = new Productos();
        FiltrarPorFecha = false;
        Filtro = "0";

        Paginacion = new Paginacion();
        filtrar();
    }

    private void CargarLista()
    {
        try
        {
            Lista = ProductosController.Paginacion(Paginacion, expression);

        }
        catch (Exception)
        {

            throw;
        }

    }


    private void filtrar()
    {
        try
        {
            if (!FiltrarPorFecha == true)
            {
                switch (Filtro)
                {
                    case "0":
                        expression = A => true;
                        Paginacion.PaginaActual = 1;
                        CargarLista();
                        break;

                    case "1":
                        expression = A => A.ProductoId == int.Parse(Criterio);
                        Paginacion.PaginaActual = 1;
                        CargarLista();
                        break;

                    case "2":
                        expression = A => A.Descripcion.Contains(Criterio);
                        Paginacion.PaginaActual = 1;
                        CargarLista();
                        break;

                    case "3":
                        expression = A => A.Cantidad == int.Parse(Criterio);
                        Paginacion.PaginaActual = 1;
                        CargarLista();
                        break;


                    case "4":
                        expression = A => A.UnidadDescripcion.Contains(Criterio);
                        Paginacion.PaginaActual = 1;
                        CargarLista();
                        break;

                    case "5":
                        expression = A => A.Costo == int.Parse(Criterio);
                        Paginacion.PaginaActual = 1;
                        CargarLista();
                        break;

                    case "6":
                        expression = A => A.Precio == int.Parse(Criterio);
                        Paginacion.PaginaActual = 1;
                        CargarLista();
                        break;

                    default:
                        expression = A => true;
                        Paginacion.PaginaActual = 1;
                        CargarLista();
                        break;

                }
            }
            else
            {
                switch (Filtro)
                {
                    case "0":
                        expression = A => true
                        && A.Fecha.Date >= DesdeFecha.Date && A.Fecha.Date <= HastaFecha.Date;
                        Paginacion.PaginaActual = 1;
                        CargarLista();
                        break;

                    case "1":
                        expression = A => A.ProductoId == int.Parse(Criterio)
                        && A.Fecha.Date >= DesdeFecha.Date && A.Fecha.Date <= HastaFecha.Date;
                        Paginacion.PaginaActual = 1;
                        CargarLista();
                        break;

                    case "2":
                        expression = A => A.Descripcion.Contains(Criterio)
                        && A.Fecha.Date >= DesdeFecha.Date && A.Fecha.Date <= HastaFecha.Date;
                        Paginacion.PaginaActual = 1;
                        CargarLista();
                        break;

                    case "3":
                        expression = A => A.Cantidad == int.Parse(Criterio)
                        && A.Fecha.Date >= DesdeFecha.Date && A.Fecha.Date <= HastaFecha.Date;
                        Paginacion.PaginaActual = 1;
                        CargarLista();
                        break;


                    case "4":
                        expression = A => A.UnidadDescripcion.Contains(Criterio)
                        && A.Fecha.Date >= DesdeFecha.Date && A.Fecha.Date <= HastaFecha.Date;
                        Paginacion.PaginaActual = 1;
                        CargarLista();
                        break;

                    case "5":
                        expression = A => A.Costo == int.Parse(Criterio)
                        && A.Fecha.Date >= DesdeFecha.Date && A.Fecha.Date <= HastaFecha.Date;
                        Paginacion.PaginaActual = 1;
                        CargarLista();
                        break;

                    case "6":
                        expression = A => A.Precio == int.Parse(Criterio)
                        && A.Fecha.Date >= DesdeFecha.Date && A.Fecha.Date <= HastaFecha.Date;
                        Paginacion.PaginaActual = 1;
                        CargarLista();
                        break;

                    default:
                        expression = A => true;
                        Paginacion.PaginaActual = 1;
                        CargarLista();
                        break;

                }
            }




        }
        catch (Exception)
        {


        }
    }

}
